.grid {
	display: grid;
    margin: 0 2rem;
	border: 1px solid #ccc;
}

.item {
	margin: 1rem;
	background: rgb(255, 99, 71);
	text-align: center;
	font-size: 1.5em;
    max-width: 350px;
}

.grid .grid-template-rows-1 {
	grid-template-rows: 100px 100px;
}

section.grid.grid-template-rows-1 div.main-inline-elements
{
    justify-self: center;
}

header h2 
{
	text-align: center;
	font-size: 2rem;
}

h2
{
	color: #fff;
}

.inline-block-elements
{
    margin: auto;
}

div.inline-block-elements div.item
{
    display: inline-block;
}

div.main-inline-elements div.item {
    display: inline-block;
    max-width: 250px;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 30px;
	margin: 0px;
	background: #31302D;
}

body > div {
	padding: 20px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}

footer
{
	display: flex;
	justify-content: center;
	margin: 0 2rem;
	background: #009494;
}

footer h2
{
	text-align: center;
	font-size: 2rem;
}