header {
  height: 7rem;
  background: #ccd193;
}

header h1 {
  text-align: center;
}

h1.h1-title {
  color: #749cfa;
}

header nav {
  display: block;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 1rem;
  background-color: #849ea3;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  display: inline;
}

li a.active {
  color: #e8ff34;
}

section {
  margin: 1rem 0 1rem 0;
}

h2.document-title {
  color: #a7d1fe;
}

article {
  padding: 1rem;
}

footer {
  display: flex;
  height: 7rem;
  background: #898b8b;
  justify-content: center;
}

footer p {
  padding: 2rem;
}
